<% lots_of_products = Product.includes(:user).offset(15)%>
<ul>
  <% lots_of_products.each do |product| %>
    <li>
      Product Name: "<%= product.name %>" costs $<%= product.price %>
      Sold by <%= product.user.name %>
     </li>
     <% end %>
    </ul>  